// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2022 Rockchip Electronics Co., Ltd.
 */

/dts-v1/;

#include "rv1106-luckfox-core1106.dtsi"

/ {
	model = "Luckfox Pico Pi";
	compatible = "luckfox,core1106-pico-pi-w", "luckfox,core1106", "rockchip,rv1106";

	chosen {
		stdout-path = "serial0:115200n8";
	};

	clocks {
		clk16m: clk16m {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <16000000>;
			clock-output-names = "clk16m";
		};
	};
};

&u2phy {
	status = "okay";
};

&u2phy_otg {
	status = "okay";
};

&usbdrd_dwc3 {
	status = "okay";
	usb-role-switch;
};

&uart0 {
	pinctrl-0 = <&uart0m0_xfer>;
	status = "okay";
};

&spi0 {
	pinctrl-0 = <&spi0m0_pins>;
	cs-gpios = <&gpio1 RK_PC0 GPIO_ACTIVE_LOW>, <&gpio1 RK_PD2 GPIO_ACTIVE_LOW>;
	status = "okay";

	can0: can@0 {
		compatible = "microchip,mcp2515";
		reg = <0>;
		clocks = <&clk16m>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PA5 IRQ_TYPE_LEVEL_LOW>;
		spi-max-frequency = <10000000>;
	};

	can1: can@1 {
		compatible = "microchip,mcp2515";
		reg = <1>;
		clocks = <&clk16m>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PA3 IRQ_TYPE_LEVEL_LOW>;
		spi-max-frequency = <10000000>;
	};
};
