// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2022 Rockchip Electronics Co., Ltd.
 */

/dts-v1/;

#include "rv1106.dtsi"

/ {
	model = "Luckfox Pico Pro/Max";
	compatible = "luckfox,rv1106-pico-pro-max", "rockchip,rv1106";

	chosen {
		stdout-path = "serial2:115200n8";
	};

	vdd_arm: vdd-arm {
		compatible = "regulator-fixed";
		regulator-name = "vdd_arm";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <900000>;
	};
};

&cpu0 {
	cpu-supply = <&vdd_arm>;
};

&cpu0_opp_table {
		/delete-node/ opp-1200000000;
		/delete-node/ opp-1296000000;
		/delete-node/ opp-1416000000;
		/delete-node/ opp-1512000000;
		/delete-node/ opp-1608000000;
};

&u2phy {
	status = "okay";
};

&u2phy_otg {
	status = "okay";
};

&usbdrd {
	status = "okay";
};

&usbdrd_dwc3 {
	status = "okay";
	extcon = <&u2phy>;
	usb-role-switch;
};

&uart2 {
	pinctrl-0 = <&uart2m1_xfer>;
	status = "okay";
};

&sfc {
	pinctrl-0 = <&fspi_cs0 &fspi_pins>;
	pinctrl-names = "default";
	status = "okay";

	flash@0 {
		compatible = "spi-nand";
		reg = <0>;
		spi-max-frequency = <75000000>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <1>;
	};
};
